button{
    margin-right: 20px;
    padding: 5px;
    width: 100px;
}
.block{
    display: flex;

}
.dashboard{
    height: 100%;
    width: 250px;
    position: fixed;
    background-color: aqua;
}
.avtar{
    margin-top: 25%;
    margin-left: 30%;
    height: 100px;
    width: 100px;
    border: 1px;
    border-radius: 50px;
    background-color: white;
}
ul{
    text-decoration: none;
}
a{
    font-size: x-large;
    margin-bottom:20px;
    margin-top: 70px;
}
li{
    padding-bottom:30px;
}


