<div class="syllabus">
<hr style="margin-top: 40px;">
<h2>Syllabus</h2>
<hr>
<div class="selection">
<div class="board">
    <form>
        <div>
            <label  >Board</label>
            <select name="board" id="board">
              <option value="CBSC">CBSC</option>
              <option value="IESC">IESC</option>
              <option value="UP">UP Board</option>
              <option value="Bihar">Bihar Board</option>
            </select>
            <label >Class</label>
            <select name="class" id="class">
              <option value="CBSC">CBSC</option>
              <option value="IESC">IESC</option>
              <option value="UP">UP Board</option>
              <option value="Bihar">Bihar Board</option>
            </select>
            <label >Subject</label>
            <select name="board" id="subjct">
              <option value="CBSC">CBSC</option>
              <option value="IESC">IESC</option>
              <option value="UP">UP Board</option>
              <option value="Bihar">Bihar Board</option>
            </select>
        </div>
        <div class="description" style="display: flex;margin-top: 30px;">
            <div>
                <textarea style="height: 70px;width: 300px;margin-left: 30px;">

                </textarea>
            </div>
            <div style="margin-left: 355px;">
                <label >Academic Year</label>
            <select name="year" id="Year">
              <option value="2019-2020">2019-2020</option>
              <option value="2020-2021">2020-2021</option>
              <option value="2021-2022">2021-2022</option>
            </select>
            </div>
        </div>
      </form>
</div>
</div>
<div class="topic">

</div>
</div>